h2{
    
    color: black;
   
}
*{
    background-color: lightpink;
    
}
*hr{ 
    font-size: large; 
    color: black; 
}
hr+p{
    font-size: 150%;
    color: rebeccapurple;
    text-shadow: black;
}
a:hover{
    color: brown;
    text-decoration: none;
    
}
br+a{ 
    text-align: center; 
    list-style-type: square; 
    text-align: center;
    text-shadow: 0cap;
    
}
h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 5px 5px 5px black;
    text-indent: 100px;
    font-style: inherit;
    text-decoration-style: solid;
    color: red;
    text-size-adjust: bold;
}
br+h2{ 
    font-size: larger;
    font-style: inherit; 
    text-align: center;
    text-decoration: underline;
    list-style-type: square; 
    
}
nav,a{
    list-style-type: none;
    background-color: none;
    padding: 10px 25px;
    text-align: center;
}
p+h2{
    text-align: center;
    text-decoration: underline;
}
hr+h1{
    text-decoration-skip: repeted;
}
marquee{
    text-align: none;
    text-decoration: yellow;
    height: 50px;
    color: black;
    
}



